<div id="<%= dom_id like %>">
  <p>
    <strong>Fan:</strong>
    <%= like.fan %>
  </p>

  <p>
    <strong>References:</strong>
    <%= like.references %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= like.photo %>
  </p>

  <p>
    <strong>References:</strong>
    <%= like.references %>
  </p>

</div>
